@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    ul,ol{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    body{
      @apply text-white bg-slate-900 
    }
    .rotate-3d {
      transform-style: preserve-3d;
      transform: rotateY(0);
    }
    
    .rotate-3d:hover {
      transform: rotateY(180deg);
    }
}
@keyframes modalEnter {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.transition-opacity {
  transition-property: opacity;
}

.transition-transform {
  transition-property: transform;
}

.animation-modal-enter {
  animation: modalEnter 300ms forwards;
}